<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Caption</h4>
                <button type="button" class="close"
                        @onclick="@Cancel">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>@Message</p>

                <input class="form-text" type="text" bind="@Input" placeholder="@PlaceHolder" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        @onclick=@Ok>
                    OK
                </button>
                        
                <button type="button" class="btn btn-warning"
                        @onclick="@Cancel">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter] public string Caption { get; set; }
    [Parameter] public string Message { get; set; }
    [Parameter] public string PlaceHolder { get; set; }
    [Parameter] public EventCallback<string> OnClose { get; set; }

    private string Input = string.Empty;
    private Task Cancel ()
    {
        return OnClose.InvokeAsync(string.Empty);
    }
    private Task Ok ()
    {
        return OnClose.InvokeAsync(Input);
    }
}