<p>@Engine.Symbol</p>
<p>@Engine.Name</p>
<p>@Engine.Description</p>
<p>@Engine.Condition</p>
<p>@Engine.Speed</p>
<RequirementsView Requirements=Engine.Requirements />

@code{
    [Parameter] public ShipEngine Engine { get; set; }
}