<p>@Module.Symbol</p>
<p>@Module.Name</p>
<p>@Module.Description</p>
<p>@Module.Capacity</p>
<p>@Module.Range</p>
<RequirementsView Requirements=Module.Requirements />

@code {
    [Parameter] public ShipModule Module { get; set; }
}