<p>@Reactor.Symbol</p>
<p>@Reactor.Name</p>
<p>@Reactor.Description</p>
<p>@Reactor.Condition</p>
<p>@Reactor.PowerOutput</p>
<RequirementsView Requirements=Reactor.Requirements />

@code {
    [Parameter] public ShipReactor Reactor { get; set; }
}
