@inject ApiClient _client
@inject AgentDbController _database
<div>
    <h3>@Market.Symbol</h3>

    @if(Market.Exports is not null)
    {
        <div class="accordion accordion-flush" id="exportsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="exportsHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exports" aria-expanded="false" aria-controls="exports">
                        Exports
                    </button>
                </h2>
            </div>
            <div id="exports" class="accordion-collapse collapse" aria-labelledby="exportsHeader" data-parent="#exportsAccordion">
                <div class="accordion-body">
                    @foreach(var export in Market.Exports)
                    {
                        <div>@export.Name <span class="text-muted">@export.Description</span></div>
                    }
                </div>
            </div>
        </div>
    }

    @if (Market.Imports is not null)
    {
        <div class="accordion accordion-flush" id="importsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="importsHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#imports" aria-expanded="false" aria-controls="imports">
                        Imports
                    </button>
                </h2>
            </div>
            <div id="imports" class="accordion-collapse collapse" aria-labelledby="importsHeader" data-parent="#importsAccordion">
                <div class="accordion-body">
                    @foreach (var export in Market.Imports)
                    {
                        <div>@export.Name <span class="text-muted">@export.Description</span></div>
                    }
                </div>
            </div>
        </div>
    }

    @if (Market.Exchange is not null)
    {
        <div class="accordion accordion-flush" id="exchangeAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="exchangeHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exchange" aria-expanded="false" aria-controls="exchange">
                        Exchange
                    </button>
                </h2>
            </div>
            <div id="exchange" class="accordion-collapse collapse" aria-labelledby="exchangeHeader" data-parent="#exchangeAccordion">
                <div class="accordion-body">
                    @foreach (var export in Market.Exchange)
                    {
                        <div>@export.Name <span class="text-muted">@export.Description</span></div>
                    }
                </div>
            </div>
        </div>
    }

    @if (Market.Transactions is not null)
    {
        <div class="accordion accordion-flush" id="transactionsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="transactionsHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#transactions" aria-expanded="false" aria-controls="transactions">
                        Transactions
                    </button>
                </h2>
            </div>
            <div id="transactions" class="accordion-collapse collapse" aria-labelledby="transactionsHeader" data-parent="#transactionsAccordion">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="transactionAccordion">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Good</th>
                                <th>Type</th>
                                <th>Per Unit</th>
                                <th>Total Price</th>
                                <th>Ship</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Market.Transactions)
                            {
                                <tr>
                                    <td>@transaction.TradeSymbol</td>
                                    <td>@transaction.Type</td>
                                    <td>@transaction.PricePerUnit</td>
                                    <td>@transaction.TotalPrice</td>
                                    <td>@transaction.ShipSymbol</td>
                                    <td>@transaction.Timestamp</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @if(Market.TradeGoods is not null)
    {
        <div class="accordion accordion-flush" id="goodsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="goodsHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#goods" aria-expanded="false" aria-controls="goods">
                        Trade Goods
                    </button>
                </h2>
            </div>
            <div id="goods" class="accordion-collapse collapse" aria-labelledby="transactionsHeader" data-parent="#goodsAccordion">
                <div class="accordion-body">
                    <div class="accordion accordion-flush" id="goodsAccordion">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Good</th>
                                    <th>Volume</th>
                                    <th>Supply</th>
                                    <th>Buy Price</th>
                                    <th>Sell Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var good in Market.TradeGoods)
                                {
                                    <tr>
                                        <td>@good.Symbol</td>
                                        <td>@good.TradeVolume</td>
                                        <td>@good.Supply</td>
                                        <td>@good.PurchasePrice</td>
                                        <td>@good.SellPrice</td>
                                        <td>
                                            @if(ShipSymbol is not null)
                                            {
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#@(good.Symbol)Buy" aria-expanded="false" aria-controls="@(good.Symbol)Buy">Buy</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#@(good.Symbol)Sell" aria-expanded="false" aria-controls="@(good.Symbol)Sell">Sell</button>
                                                </div>
                                            }
                                        </td>
                                    </tr>
                                    @if(ShipSymbol is not null)
                                    {
                                        <div class="collapse" id="@(good.Symbol)Buy" style="align-self:flex-end">
                                            <div class="card card-body">
                                                <input type="number" @bind="@_amount" min="0" max="" /> <button type="button" @onclick="@(() => Buy(good.Symbol,_amount))">BUY</button>
                                            </div>
                                        </div>
                                        <div class="collapse" id="@(good.Symbol)Sell" style="align-self:flex-end">
                                            <div class="card card-body">
                                                <input type="number" @bind="@_amount" min="0" max="" /> <button type="button" @onclick="@(() => Sell(good.Symbol,_amount))">SELL</button>
                                            </div>
                                        </div>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public Market Market { get; set; }
    [Parameter] public string ShipSymbol { get; set; }

    private int _amount;

    private async Task Buy(string symbol, int amount)
    {
        var request = new RestRequest($"my/ships/{ShipSymbol}/purchase", Method.Post);
        request.AddParameter("symbol", symbol);
        request.AddParameter("units", amount);

        var response = await _client.PostRequest<TransactionResponse>(request, true);

        if (response is not null)
        {
            await _database.Update(response.Data.Agent);
        }
    }

    private async Task Sell (string symbol, int amount)
    {
        var request = new RestRequest($"my/ships/{ShipSymbol}/sell", Method.Post);
        request.AddParameter("symbol", symbol);
        request.AddParameter("units", amount);

        var response = await _client.PostRequest<TransactionResponse>(request, true);

        if(response is not null)
        {
            await _database.Update(response.Data.Agent);
        }
    }
}
